/*Cuerpo*/
html {
    height: 100%;
}

body {
    font-family: sans-serif;
    line-height: 1.4em;
    margin: 0; /*Eliminamos los margenes de la ventana*/
    position: relative; /*Para que el footer se quede al final*/
    padding-bottom: 10rem; /*Para que el footer se quede al final*/
    min-height: 100vh; /*Para que el body mida como minimo lo que mida el viewport. Esto hace que el footer se quede al final*/
}

.inicio {
    background-image: url(img/bg.jpg);
}


/*Título*/
h1 {
    font-size: 2rem;
    line-height: 1.3em;
}

/*Párrafos*/
p {
    margin-bottom: 1.6em;
}

.inicio {
    background-image: url(img/fondo_inicio.jpg);
}

/*Contenidos*/
.container-body {
    width: 70%;
    max-width: auto;
    margin: 0 auto;
    padding-top: 18rem;
    display: flow-root;
    grid-area: main;
    max-width: 100%;
}

.main .presentation1 {
   text-align: left;
   padding-top: 200px; 
   margin-left: 10px;
   font-size: 35px;
}

.main .presentation2 {
    margin-top: 60px;
    margin-left: 50px;
    font-size: 40px;
    -o-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.main .presentation2:active {
    font-size: 50px;
}

.main .presentation3 {
    margin-top: 45px;
    font-size: 40px;
    margin-left: 80px;
    animation-delay: 1s;
}

.container-header {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
}

/*Cabecera*/
.header {
    background: #252932;
    padding: 2rem 0; 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    grid-area: header;
}

/*Contenido del header*/
.header a {
    color: white;
    text-decoration: none;
}

.header .site-surname {
    color: #1e90ff;
    text-shadow: 0 0 0.2em #1e90ff, 0 0 0.2em #1e90ff , 0 0 0.2em #1e90ff;
}

/*Logo nav*/
.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /*Centrar el logo en el header*/
    flex-wrap: wrap; /*Para que al reducir la página los elementos no se fuerzen a estar uno al lado de otro y pasen a estar debajo*/
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

/*Para que las opciones del menú se coloquen horizontalmente*/
.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 18px;
    font-weight: bold;
    transition: all 500ms ease;
    width: max-content;
}

.logo {
    letter-spacing: 5px;
    font-size: 40px;
}

.navigation ul li a:hover {
    background: dodgerblue;
    border-radius: 50px;
}

/*Pie de página*/
.footer {
    background: #252932;
    text-align: center;
    padding: 0.5rem 0;
    position: absolute; /*Para que el footer se quede al final*/
    bottom: 0; /*Para que el footer se quede al final*/
    width: 100%; /*Para que el footer se quede al final*/
    grid-area: footer;
    /*Espacio del contenido y el footer*/
}

/*Color de las letras del footer*/
.footer p {
    margin-top: 20px;
    color: dodgerblue;
    font-weight: bold;
}

.button-menu {
    color: white;
    background: none;
    border: none;
    font-size: 20px;
    padding: 0 10px;
    display: none;
}

/*Estilo de los botones del footer*/
.container-footer a{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
    border-radius: 50%;
    -o-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.container-footer .icon-button {
    background-color: #5a5a5a;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.0rem;
    height: 3.6rem;
    line-height: 3.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 3.6rem;
  }
  
  /* Circle */
.container-footer .icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
    width: 0;
  }

.container-footer .icon-button:hover span {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin: -1.8rem;
}

.container-footer .twitter span {
    background-color: #1e90ff;
}

.container-footer .facebook span {
    background-color: #062b85;
}

.container-footer .instagram span {
    background-color: #f10a54;
}
  
  /* Icons */
.container-footer i {
    background: none;
    color: white;
    height: 3.6rem;
    left: 0;
    line-height: 3.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
    width: 3.6rem;
    z-index: 10;
}

.img-portada {
    width: 500px;
    height: 500px;
    background-size: cover;
    border-radius: 50px;
    padding-left: 800px;
    
}

/*ADAPTACIÓN PARA MÓVILES*/
@media only screen and (max-width: 880px) {
    
    .button-menu {
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }

    .navigation {
        width: 100%;
        margin-top: 1rem; /*Para dar espacio cuando se alineen con el titulo*/
    }
    
    .navigation ul {
        display: none;
    }
   
    .navigation ul.show {
        display: block;
    }
    
    .navigation ul li {
        display: block;
    }
    
    .navigation ul li a {
        display: block;
        padding: 0.5rem 0rem;
        font-size: 18px;
        font-weight: bold;
        -o-transition: all 500ms ease;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
    }
    
    .logo {
        letter-spacing: 10px;
        font-size: 30px;
    }
    
    .navigation ul li a:hover {
        background: dodgerblue;
        border-radius: 50px;
    }
}
