* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #fffffa;
    padding-top: 0px;
}

header {
    width: 100%;
    overflow: hidden; /*Para que no de error ya que los elementos se van a desplazar*/
    background: #252932;
    margin-bottom: 20px;
     /*Para fijar la posicion del header al hacer scroll*/
    
}

header .logo {
    color: #f2f2f2;
    font-size: 50px;
    line-height: 120px;
    float: left;
    font-style: italic;
}

header .nav-menu {
    float: right;
    line-height: 120px;
}

header .nav-menu a {
    display: inline-block; /*Para que que esten uno al lado de otro*/
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    line-height: normal;
    font-weight: bold;
    width: max-content; /*Para que no se corten palabras al hacer más pequeña la ventana*/
    /*Para la transiciones o animaciones que realizan los botones del menú*/
    -o-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

header .nav-menu a:hover {
    background: dodgerblue;
    border-radius: 50px;
}

/*Nos permite centrar todo*/
.wrapper {
    width: 90%;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
}

.header2 {
    position: fixed;
    height: 100px;
}

.header2 .logo {
    line-height: 90px;
    font-size: 30px;
    float: left;
    font-style: italic;
}

.header2 .nav-menu {
    line-height: 90px;
}

.contenido p {
    margin-bottom: 1em;
}

@media screen and (max-width: 950px) {
    header .logo,
    header .nav-menu {
        width: 100%;
        text-align: center;
        line-height: 90px;
    }

    .header2 {
        height: auto;
    }

    .header2 .logo,
    .header2 .nav-menu{
        line-height: 50px;
    }
}


