.conocimientos {
    background: #252932;
}

.skills-title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

.conocimientos .body-container {
    max-width: 980px;
    margin: 0 auto;
}

.skill {
    font-size: 20px;
    font-weight: 500;
    background: dodgerblue;
    box-shadow: 0 4px 10px rgb(0, 94, 255);
    border-radius: 42px;
    padding: 0.5em 0.7em;
    margin: 10px;
    color: white;
    font-weight: bold;
}

.skill button {
    background: none;
    border: none;
    font-size: 40px;
    color: white;
}

.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (min-width: 950px) {
    .skills-title {
        font-size: 40px;
    }
    
    .skill {
        font-size: 25px;
        font-weight: 500;
        margin: 20px;
    }
    
    .skills-list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}