.contacto .container-body {
    background:#252932;
    width: 40%;
    color: white;
    font-size: 18px;
    border-radius: 14px;
    padding: 25px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
}

.contacto p,
.contacto h1,
.contacto ul {
    margin: 0;
    padding: 0;
}

.contact-title {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
}

.contact-details,
.contact-form {
    display: grid;
    gap: 20px;
}

.contact-details-group,
.contact-form-group {
    display: grid;
    gap: 3px
}

.contact-label {
    text-transform: uppercase;
    font-weight: 500;
    color: dodgerblue;
}

.contact-text-m {
    color: dodgerblue;
    font-weight: bold;
}

.contact-form label {
    color: dodgerblue;
}

.contact-form input,
.contact-form textarea {
    border-radius: 7px;
    border: none;
    height: 30px;
    padding: 5px 10px;
}

.contact-form textarea {
    height: auto;
    resize: vertical;
}

.btn-form-submit {
    width: 100%;
    height: 50px;
    background-color: dodgerblue;
    border-radius: 7px;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.btn-form-submit:hover {
    box-shadow: 0 0 14px white;
}

.social-list {
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;
}

.social-item button {
    background: none;
    border: none;
    color: white;
    font-size: 40px;
    cursor: pointer;
    transition: all 500ms ease;
}

.social-item button:hover {
    background: dodgerblue;
    border: 50px;
    border-radius: 7px;
}

@media only screen and (min-width: 950px) {
    .contacto .container-body {
        width: 70%;
        font-size: 20px;
        padding: 60px;
        max-width: 1000px;
        margin: 0 auto;
        box-sizing: content-box;
    }
    
    .contact-title {
        font-size: 35px;
        text-align: left;
    }
    
    .contact-details,
    .contact-form {
        display: grid;
        gap: 20px;
    }
    
    .contact-details-group,
    .contact-form-group {
        display: grid;
        gap: 3px
    }
    
    .contact-label {
        text-transform: uppercase;
        font-weight: 500;
    }
    
    .contact-form input,
    .contact-form textarea {
        border-radius: 7px;
        border: none;
        height: 30px;
        padding: 5px 10px;
    }
    
    .contact-form textarea {
        height: auto;
        resize: vertical;
    }
    
    .btn-form-submit {
        width: 100%;
        height: 50px;
        background-color: dodgerblue;
        border-radius: 7px;
        border: 1px solid white;
        color: white;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
    }
    
    .social-list {
        justify-content: flex-start;
    }
    
    .social-item button {
        font-size: 45px;
    }

    .contact-title {
        grid-area: title;
        height: 20px;
    }

    .contact-details {
        grid-area: details;
    }

    .social {
        grid-area: social;
    }

    .contacto .container-body{
        display: grid;
        grid: 
            "title form" 100px
            "details form" 1fr
            "social form" auto /
              1fr     1fr;

        align-items: flex-start;
         
    }
}

