:root {
	--logotipo: #252932;
	--profesion: #f2f2f2;
	--primario: dodgerblue;
}

.presentation-logotipo {
	padding: 10px;
	border: 5px solid var(--logotipo);
    height: auto;
    border-radius: 6px;
    margin-top: 200px;
    color: var(--logotipo);
    max-width: 400px;
    width: auto;
}

.presentation-logotipo .subtitulo {
	text-align: center;
	color: var(--profesion);
	background: dodgerblue;
	padding: 12px 36px;
    font-size: 36px;
    border-radius: 6px;
    justify-content: center;
    display: flex;
	font-family: sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.texto-animado {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    overflow: hidden;
}

.texto-animado > div {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: .3s ease all;
    z-index: -1;
}

.texto-animado .segundo-span{
    position: absolute;
    color: dodgerblue;
    top: 30px;
}

.texto-animado > div.animacion {
    transform: translateY(-30px);
}

.texto-animado > div span {
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
}

.download-cvc {
    background-color: var(--logotipo);
    border-radius: 6px;
    font-size: 25px;
    padding: 18px 36px;
    text-decoration: none;
    justify-content: center;
    transition: .5s ease all;
    color: #f2f2f2;
    font-family: sans-serif;
    display: flex;
}

.download-cvc:hover {
    background: var(--primario);
}

@media only screen and (max-width: 600px) {
    .texto-animado > div span {
        font-size: 15px;
        line-height: 15px;
    }

    .texto-animado .segundo-span {
        top: 15px;
    }

    .texto-animado > div.animacion {
        transform: translateY(-15px);
    }

    .presentation-logotipo .subtitulo {
        font-size: 20px;
        width: auto;
    }

    .download-cvc {
        font-size: 20px;
        width: auto;
    }

    .presentation-logotipo {
        height: auto;
        width: auto;
    }
}

@media only screen and (max-width: 1386px) {
    .presentation-logotipo {
        margin: auto;
        margin-top: 200px;
    }
}

